.btn{
    font-size: inherit;
    background: none;
    border: none;
    font-weight: bold;
    font-size: inherit;
    outline: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}
.btn--primary{
    color: white;
    background-color: hsl(200, 100%, 50%);
}

.btn--primary:hover{
    background-color: hsl(200, 100%, 35%)
}